.whole {
    height: 100%;
}
.right {
    background-color: crimson;
    height: 100%;
}

.main {
    /* height: 100%; */
    background-color: rgb(250, 235, 216);
}

h1 {
    margin-top: 10rem;
    font-size: 4rem;
    text-align: center;
    color: rgb(151, 117, 72);
    overflow: hidden;
}
h2 {
    text-align: center;
    font-size: 4.5rem;
    color: rgb(151, 117, 72);
}

.left {
    font-size: 25px;
    color: #fff;
    text-align: center;
}

h3 {
    color: white;
    text-align: center;
    font-size: 45px;
    color: burlywood;
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: #fff;
}

.list {
    color: #fff;
    font-size: 18px;
    text-align: center;
}

h4 {
    margin-top: 140px;
    font-size: 45px;
    color:  rgb(151, 117, 72);;
}

.summary {
    font-size: 40px;
    text-align: justify;
}

img {
    border-radius: 50%;
}